[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"

[packages]
# pycld2 = ">=0.3"
# six = ">=1.7.3"
# futures = ">=2.1.6"
# numpy = ">=1.6.1"
# PyICU = ">=1.8"
# Morfessor = ">=2.0.2a1"
polyglot = "*"

[requires]
python_version = "3.7"
